<%- include("partials/header.ejs") -%>
<div class="container my-4" style="padding: 20px auto;">
    <% for( let i = 0; i<cardData.length; i++){ %>
    <%if(i%4==0){ %>
    <div class="row">
        <%}%>
       <div class="col-lg col-sm col-xs card" style="text-align: center;">
            <a href=<%="/"+cardData[i].cardTitle%>>
        <div class="row">
            <!--Primary Image in the card  -->
            <div class="cardImagePrimary innerCardContent col">
                <img src=<%=cardData[i].professionImage%> alt="cooking-img" class="cardImagePrimary">
            </div>
            <div class="col" style="padding-top: 20px; ">
                <!-- rate -->
                <div class=" row cardRate innerCardContent">
                    <span>
                        <br>
                        <h6>Starting From <%=cardData[i].minimumPrice%>/-</h6>
                    </span>
                </div>
            </div>
        </div>
        <div class="row py-sm-4 py-xs-4" style="">
            <div class="foundNearYou innerCardContent col">
                <h6><%= cardData[i].noOfServiceFound%> <%= cardData[i].profession%> found Near You</h5>
            </div>
        </div>
        </a>
    </div>
    <%  if((i+1)%4==0){%>
</div>
<% }%>
<% } %>
</div>
<%- include("partials/footer.ejs") -%>