<%- include("../partials/header") -%>
<style>
    .col {
        padding: 15px;
        margin: 0;
    }

    .cardSpecific {
        background-color: #f6f6f6;
        height: 40vh;
        color: #0c056d;
        border-radius: 30px;
        border: blue solid 2px;
    }

    .cardSpecific:hover {
        transform: scale(1.05);
        transition-duration: 0.5s;
    }

    .sidebar {
        text-align: center;
        position: relative;
        z-index: 1;
    }

    .sidebarImage {
        height: 150px;
    }

    .cardSpecificImage {
        height: 100px;
    }
</style>
<div class="container" style="margin: 20px auto;">
    <div class="row">
        <!-- sidebar -->
        <div class="col col-lg-2 sidebar">
            <div style="position: fixed; padding-top: 60px;">
                <img src="https://image.flaticon.com/icons/svg/3011/3011274.svg" alt="cooking-img" class="sidebarImage">
                <hr>
                <h2>Nurse</h2>
                <hr>
                <form action="/cooking" method="POST">
                    <div class="form-group">
                        <select class="form-control">
                            <option class="hidden" selected disabled>Gender
                            </option>
                            <option>Any</option>
                            <option>Male</option>
                            <option>Female</option>
                        </select>
                    </div>
                    <hr>
                    <div class="form-group">
                        <select class="form-control">
                            <option class="hidden" selected disabled>Food type
                            </option>
                            <option>Any</option>
                            <option>North Indian</option>
                            <option>South Indian</option>
                        </select>
                    </div>
                </form>
            </div>
        </div>
        <!-- cards -->
        <div class="col">
            <!-- first row of cards -->
            <% for(let i = 0 ; i<nurseData.length; i++){ %>
            <%  if(i%2==0){%>
            <div class="row">
                <%  }%>
            
                <div class="col" style="text-align: center;">
                    <div class="cardSpecific">
                        <div class="row ">
                            <div class="col cardSpecificImage">
                                <img src=<%= nurseData[i].profilePhoto %> alt="" class="cardSpecificImage">
                            </div>
                            <div class="col cardSpecificNameAge" style="position: relative; top: 30px ;">
                                <h5>
                                    <%if(nurseData[i].gender === "male"){%>
                                    Mr. <%=nurseData[i].name %>
                                    <%}else{%>
                                    Mrs. <%=nurseData[i].name %>
                                    <%}%>
                                        </h5>
                                        <h6>Age: 38</h6>
                                    </div>
                                </div>
                                <div class="row" style="padding-top: 20px ;">
                                    <div class="col col-lg-9 cardSpecificText" style="text-align: center;">
                                        <h5 class="cardSpecificSpecialityText"><%= nurseData[i].speciality %></h5>
                                <h6><%= nurseData[i].workOffered %></h6>
                            </div>
                            <div class="col col-lg-3 " style="margin-top: 20px ;">
                                <button class="btn btn-primary" style="padding: 5px 20px;"><span>Call</span></button>
                            </div>
                        </div>
                    </div>
                </div>
            
            
            
                <%if((i+1)%2==0){%>
            </div>
            <%}%>
                       <%}%>
        </div>

    </div>
</div>
<%- include("../partials/footer.ejs") -%>